# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [auth-service, product-service, checkout-service]
    steps:
    - uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.25.7'

    - name: Build
      run: make build service=${{ matrix.service }}

    - name: Test
      run: make test service=${{ matrix.service }}

    - name: Clean
      run: make clean
